upstream fastcgi_backend {
    server php:9000;
}

server {
    listen 80;

    server_name ${NGINX_HOST};

    set $WORDPRESS_ROOT /var/www/html;

    root $WORDPRESS_ROOT;

    index  index.php index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;
        fastcgi_index   index.php;
        fastcgi_pass    fastcgi_backend;
        fastcgi_param   PATH_INFO       $fastcgi_path_info;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;

        include fastcgi_params;
    }
}
